body {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
  }
  
  #phone-input {
    display: inline-block;
    font-size: 32px;
    width: 50%;
    border: 3px solid #000000;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
  
  #startButton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  .group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  #banner {
    background-color: #ffcc00;
    color: #000000;
    padding: 5px 10px;
    border-radius: 5px;
    margin-top: 10px;
    font-weight: bold;
    display: none;
  }
  
  .active {
    display: block;
  }
  
