body {
    font-family: sans-serif;
    text-align: center;
    margin: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    width:100vw;
    height:1000px;
    overflow: hidden;
  }

  h1 {
    font-family: Futura, Impact, Arial Black, sans-serif; /* Choose your preferred font */
    font-size: 50px; /* Adjust for readability */
    font-weight: bold;
    margin-bottom: 20px;
  }

p {
  margin-left: 65px;
  align-self: center;
  font-family: "Times New Roman";
  font-size: 28px;
  font-style: italic;
  background-size: cover;
  color: black;
}

img {
  width: 800px;
  margin-top: 50px;
  position: relative;
  margin-left: 270px;
  z-index: -1;
}

  #phone-input {
    margin-top: 10px;
    position: absolute;
    display: inline-block;
    font-size: 32px;
    width: 20%;
    border: 3px solid #4CAF50;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    color: black;
  }
  
  #startButton {
    position: absolute;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 90px;
  }
  
  .group {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:100vw;
    height:100vh;
  }

  
 
  
