h1 {
  font-family: helvetica, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
}

body {
  width: 640px;
  margin: 0 auto;
  background-image: url ("/images/flames.jpg");

}

.full-img {
  position: relative;
  display: block;
  width: 700px;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 640px;
  height: 480px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: black;
  color:aliceblue;
  text-shadow: 1px 1px 1px grey;
  border: 1px solid #ff0000;
  position: absolute;
  cursor: help;
  top: 4px;
  left: 4px;
}

.thumb-bar img {
  display: block;
  width: 20%;
  float: left;
  cursor: crosshair;
}

