h1 {
  font-family: helvetica, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
}

h2 {
  font-family: helvetica, 'Times New Roman', Times, serif;
  text-align: center;
  color: darkblue;
  line-height: 0px;
}

body {
  width: 800px;
  margin: 0 auto;
  background-image: linear-gradient(to right, beige, lightblue);
}

#overlay-image {
  position: absolute;
  display: block;
  width: 800px;
  height: 500px;
}

.full-img {
  position: absolute;
  display: block;
  width: 800px;
  height: 500px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 800px;
  height: 500px;
  background-color: rgba(0,0,0,0);
}

button {
  border: 0;
  background: black;
  color:aliceblue;
  text-shadow: 1px 1px 1px grey;
  border: 2px solid #361551;
  position: absolute;
  cursor: pointer;
  top: 4px;
  left: 4px;
}

.thumb-bar img {
  margin-top: 500px;
  transition: box-shadow .3s;
  background: #fff;
  display: block;
  width: 20%;
  float: left;
  cursor: crosshair;
}

.thumb-bar img:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.78); 
}

