body {
    background-image: url(/../img/david-beckham.webp);
    background-repeat: no-repeat;
}

.fifa-logo {
    background-image: url(/../img/fifa.png);
 }

.box{
    background-image: url(/../img/download.png)
 }

 